.THIS .maintablecol {
	min-width: 100px;
}
.THIS .cursorPointer{
	cursor: pointer;
}
.THIS .myicon .slds-form-element__icon {/* Replace this class name "slds-form-element__icon" by your finding. */
	display: none !important;
}